@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;600;700&display=swap');

html {
  width: 100%;
  height: 100%;
}

body {
  display: grid;
  width: 100%;
  height: 100%;
  margin: 0;
  justify-items: center;
  font-family: 'Assistant', sans-serif;
  background-image: linear-gradient(to right bottom, #c9eaff, #d7edff, #e4f0ff, #eff4ff, #f7f8ff, #f7f8ff, #f7f8ff, #f7f8ff, #eff4ff, #e4f0ff, #d7edff, #c9eaff);
}

p {
  font-size: 18px;
}

header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  height: 100px;

}

header h1 {
  width: 235px;
  background: url('../images/galvanize-logo.svg') no-repeat;
  text-indent: -9999px;
}

div#home-container {
  width: 1000px;
  min-height: 500px;
  margin-top: 20px;
}

div#admin-menu {
  display: grid;
  justify-content: end;
}

div#admin-menu button {
  background-image: linear-gradient(to bottom, #ffa76d, #ffa061, #ff9955, #ff9149, #ff8a3d);
  border: 1px solid #ffba8c;
  outline: 1px solid #CB6928;
  color: #000;
}

/******************
  NAVIGATION
*******************/
nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  width: 100%;
  height: 100px;
}

nav svg {
  margin-right: 2px;
  margin-bottom: 3px;
}

nav button {
  width: 75%;
  height: 50%;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  background-image: linear-gradient(to bottom, #ffa76d, #ffa061, #ff9955, #ff9149, #ff8a3d);
  border: 1px solid #ffba8c;
  outline: 1px solid #CB6928;
  text-shadow: 0px 1px 0px #ffba8c;
  font-weight: bold;
}

nav button:hover {
  outline: 1px solid #6e3916;
  background-image: linear-gradient(to bottom, #ffa76d, #ffa061, #ff9955, #ff9149, #ff8a3d);
}

nav button:active {
  outline: 1px solid #6e3916;
  background-image: linear-gradient(to top, #ffa76d, #ffa061, #ff9955, #ff9149, #ff8a3d);
}

div#select-cohort {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 25px;
}

div#select-cohort button {
  background-image: linear-gradient(to bottom, #ffa76d, #ffa061, #ff9955, #ff9149, #ff8a3d);
  border: 1px solid #ffba8c;
  outline: 1px solid #CB6928;
  color: #000;
  text-shadow: 0px 1px 0px #ffba8c;
}

/******************
  STUDENT-LIST
*******************/
div#student-list-container {
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 0px;
  margin-top: 10px;
  height: 200px !important;
}

td.student-average button {
  background-color: #f3f3f3;
  border: 1px solid #e9e7e7;
}

td.student-average button:hover {
  background-color: #dadada;
  border: 1px solid #d4d4d4;
}

table#student-list {
  display: block;
  height: 330px !important;
  overflow-y: scroll;
  box-shadow: inset 0 0px -15px #ccc;

}

table#student-list h3 {
  font-size: 20px;
}

table#student-list thead {
  position: sticky;
  top: 0;
  height: 20px;
  background-color: #eee;
  vertical-align: middle;
  padding: 0;
  z-index: 2;
  box-shadow: 0 0px 15px #ccc;
}

table#student-list tbody {
  z-index: 1;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}

/******************
  STUDENT-AVG-GRAPH
*******************/

div.select-all,
div.select-one {
  display: inline-block;
  margin-right: 5px;
}

/******************
  Modal Lists
*******************/

ul#weekly-student-list {
  list-style: none;
  padding: 0;
}

ul#assessment-student-list {
  list-style: none;
  padding: 0;
}