html {
  width:100%;
  height:100%;
  background-image: linear-gradient(to bottom, #ffe1e9, #fde9f3, #fbf1fa, #fbf8fd, #ffffff);
}
body {
  display:grid;
  width:100%;
  height:100%;
  margin:0;
  justify-items:center;
}
header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width:100%;
  height:100px;
  background-color:yellow;
}
header h1 {
  width:235px;
  background:url('../images/galvanize-logo.svg') no-repeat;
  text-indent:-9999px;
}
div#home-container {
  width:1000px;
  min-height:500px;
  background-color:red;
  margin-top:20px;
}