h1#login-logo {
    width:300px;
    background:url('../images/galvanize-logo.svg') no-repeat;
    text-indent:-9999px;
    margin-top:100px;
    margin-bottom:25px;
    margin-left: 70px;
    background-size:215px;
}
h2#login {
    font-size:2.1em;
    color: rgb(89, 92, 105);
    text-align: center;
}
form#login label {
    margin-top:20px;
    position: relative;
    

}
form#login button[type="submit"] {
    height: 100%;
    margin-top:30px;
    margin-bottom:10px;
    background-color: #00808C;
    border-color: #00808C;
    border-radius: 40px;
    width:100%;  
}

span#show-hide-psw {
    overflow:hidden;
    align-items: center;
    display:inline-block;
    outline:none;
    border: hidden;
    cursor: pointer;
    position: absolute;
    right:0;
    
}