@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;600;700&display=swap");

html {
  width: 100%;
  height: 100%;
}

body {
  display: grid;
  width: 100%;
  height: 100%;
  margin: 0;
  justify-items: center;
  font-family: "Assistant", sans-serif;
  background-color: white;
}

p {
  font-size: 18px;
}

#page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

#header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  width: 90%;
}

#home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  /* min-height: 500px; */
  /* margin-top: 20px; */
}

#admin-menu {
  margin: 0 30px;
}

#navbar-left-container {
  display: flex;
  margin: 0 0 0 30px;
  align-items: center;
}

#navbar-right-container {
  display: flex;
  flex-direction: row;
}

.navbar-title {
  font-size: 28px;
  font-weight: 600;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 350px;
  font-size: 20px;
  margin: 0 0 0 10px;
}

/******************
  NAVIGATION
*******************/
.nav-container {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 100vw;
  background-color: rgb(52, 52, 52);
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* width: 100%; */
  /* height: 100px; */
  /* background-color: rgb(48, 48, 48); */
}

#select-cohort {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  /* margin-top: 25px; */
  background-color: white;
  border: 1px solid black;
}
 
/******************
  STUDENT-LIST
*******************/
#dashboard-main {
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px 0 20px 0;
  padding: 50px;
}

div#student-list-container {
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 0px;
  margin-top: 10px;
  /* height: 200px !important; */
}

td.student-average button {
  background-color: #f3f3f3;
  border: 1px solid #e9e7e7;
}

td.student-average button:hover {
  background-color: #dadada;
  border: 1px solid #d4d4d4;
}

table#student-list {
  display: block;
  width: 100%;
  /* height: 330px !important; */
  overflow-y: scroll;
  box-shadow: inset 0 0px -15px #ccc;
}

table#student-list h3 {
  font-size: 20px;
}

table#student-list thead {
  position: sticky;
  top: 0;
  height: 20px;
  background-color: #eee;
  vertical-align: middle;
  padding: 0;
  z-index: 2;
  box-shadow: 0 0px 15px #ccc;
}

table#student-list tbody {
  z-index: 1;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}

/******************
  STUDENT-AVG-GRAPH
*******************/

div.select-all,
div.select-one {
  display: inline-block;
  margin-right: 5px;
}

/******************
  Modal Lists
*******************/

ul#weekly-student-list,
ul#project-student-list {
  list-style: none;
  padding: 0;
}
ul#weekly-student-list li,
ul#project-student-list li,
ul.student-group li {
  padding: 5px 0 5px 0;
}
ul#weekly-student-list li:nth-child(odd),
ul#project-student-list li:nth-child(odd),
ul.student-group li:nth-child(odd) {
  background-color: #fafafa;
}
ul#weekly-student-list li input,
ul#project-student-list li input {
  margin-right: 5px;
}
ul#assessment-student-list {
  list-style: none;
  padding: 0;
}
ul#project-student-list {
  list-style: none;
  padding: 0;
}
select#project-selector,
select#assessment-selector {
  margin-bottom: 20px;
}
ul.student-group {
  margin: 10px 0 0 0;
  padding: 0 0 0 10px;
  list-style-type: none;
}
h4.student-group-heading {
  font-size: 20px;
  margin-top: 15px;
}
#copy-tooltip {
  z-index: 999;
}
.tooltip {
  z-index: 1151 !important;
}
button#copy-groups-btn {
  background-color: #fff;
  color: #000;
  border: 0;
}
#student-name:hover {
  cursor: pointer;
  background-color: #fff;
}
